@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

@font-face {
  font-family: "배은혜체";
  src: url("../font/나눔손글씨\ 배은혜체.ttf") format("truetype");
}
*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

body{
  font-size: 26px;
}

.menu{
  width: 100%;
}

.menu > div{
  display: inline;
}

ul{
  
}

.menu{
  width:100%;
  height: auto;
  background: #000426;
  z-index:100;
  position: absolute;
}

li{
  list-style: none;
  float: left; /*왼쪽부터 가로 정렬*/
  width: 10%; /*li 항목이 모두 4개 이므로 4등분을 위한 사이즈 정의*/
  height: 80px; /*float 해제를 위한 세로 사이즈 지정*/
  line-height: 80px; /*텍스트 중앙 정렬 (위/아래에 대한)*/
  text-align: center; /*텍스트 가운데 정렬*/
  background: #3AAFAA; /*백그라운드 색상 지정*/
  color: #ffffff;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: #2A7A78;
}

p{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.ways{
  width: 80%;
  display: flex; 
  flex-direction: row; /* 기본값 */ /* flex-direction: row | row-reverse | column | column-reverse */ justify-content: flex-start; /* 기본값 */ /* justify-content: flex-start | center | flex-end | space-between | space-around | space-evenly */
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10%;
}

.way{
  width: 31%;
  height: 300px;
  background-color: #ffffff;
  margin-bottom: 2%;
  margin-top: 5%;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.07);
}

.footer{
  width: 100%;
  height: 16vh;
  background-color: #2A7A78;
  padding: 0 16%;
  box-sizing: border-box;
  display: flex;
  bottom: 0;
  padding-top: 2vh;
}

.footer_element{
  color: #ffffff;
  font-size: 1rem;
  line-height: 2em;
}

/* Dropdown menu */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3AAFAA;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 1%;
}

.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

.dropdown-content a:hover {
  color: #2A7A78;
}

.dropdown:hover .dropdown-content {
  display: block;
}



/*------------------------*/

.title {
  margin-top: 40px;
  font-size: 70px;
  font-size: bold;
  font-family: 배은혜체;
}


/* #circle1 {
  background-color:#86efef;
  width:400px;
  height:400px;
  border-radius:300px;
  text-align:center;
  margin:0 auto;
  font-size:12px;
  vertical-align:middle;
  line-height:150px;
  position: fixed;
  margin-left: 1000px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(20, 230, 212, 0.6);
  opacity: 0.7;
  
} */

.text1 {
  color: #3AAFAA;
  margin-top: 95px;
  text-align: center;
  font-size: 47px;
  font-style: bold;
  font-family: 배은혜체;
}
.text2 {
  color: #3AAFAA;
  margin-top: 95px;
  text-align: center;
  font-size: 47px;
  font-style: bold;
  font-family: 배은혜체;
}
.text3 {
  color: #3AAFAA;
  margin-top: 95px;
  text-align: center;
  font-size: 47px;
  font-style: bold;
  font-family: 배은혜체;
}
.text4 {
  color: #3AAFAA;
  margin-top: 95px;
  text-align: center;
  font-size: 47px;
  font-style: bold;
  font-family: 배은혜체;
}
.text5 {
  color: #3AAFAA;
  margin-top: 100px;
  text-align: center;
  font-size: 47px;
  font-style: bold;
  font-family: 배은혜체;
}
.text6 {
  color: #3AAFAA;
  margin-top: 95px;
  text-align: center;
  font-size: 47px;
  font-style: bold;
  font-family: 배은혜체;
}