@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

body{
  font-size: 26px;
}

.menu{
  width: 100%;
}

.menu > div{
  display: inline;
}

ul{
  
}

.menu{
  width:100%;
  height: auto;
  background: #000426;
  z-index:100;
  position: absolute;
}

li{
  list-style: none;
  float: left; /*왼쪽부터 가로 정렬*/
  width: 10%; /*li 항목이 모두 4개 이므로 4등분을 위한 사이즈 정의*/
  height: 80px; /*float 해제를 위한 세로 사이즈 지정*/
  line-height: 80px; /*텍스트 중앙 정렬 (위/아래에 대한)*/
  text-align: center; /*텍스트 가운데 정렬*/
  background: #3AAFAA; /*백그라운드 색상 지정*/
  color: #ffffff;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: #2A7A78;
}

p{
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.ways{
  width: 60%;
  display: flex; 
  flex-direction: row; /* 기본값 */ /* flex-direction: row | row-reverse | column | column-reverse */ justify-content: flex-start; /* 기본값 */ /* justify-content: flex-start | center | flex-end | space-between | space-around | space-evenly */
  justify-content: flex-start;
  flex-wrap: wrap;
}

.way{
  width: 27%;
  height: 300px;
  background-color: #fff;
  margin-bottom: 5%;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.07);
}

.footer{
  width: 100%;
  height: 16vh;
  background-color: #2A7A78;
  padding: 0 16%;
  box-sizing: border-box;
  display: flex;
  bottom: 0;
  padding-top: 2vh;
}

.footer_element{
  color: #ffffff;
  font-size: 1rem;
  line-height: 2em;
}

/* Dropdown menu */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3AAFAA;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 1%;
}

.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

.dropdown-content a:hover {
  color: #2A7A78;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#plastic {
    margin-left: 200px;
}


.img1 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img1 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img2 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img2 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img3 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img3 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img4 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img4 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img5 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img5 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img6 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img6 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img7 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img7 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img8 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img8 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img9 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img9 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img10 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img10 p {
  margin-top: 5%;
  color: #3AAFAA;
}
.img11 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img11 p {
  margin-top: 5%;
  color: #3AAFAA;
}

.img12 img {
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-top: 15%;
}
.img12 p {
  margin-top: 5%;
  color: #3AAFAA;
}

.title {
  font-size: 20px;
  text-align: center;
  margin-top: 35px;
}

.rectangle {
  width: 100px;
  height: 3px;
  background: #3AAFAA;
  margin-top: 20px;
}

