@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

body{
  font-size: 26px;
}

.container{
  height: 100vh;
}

.menu{
  width: 100%;
}

.menu > div{
  display: inline;
}

ul{
  
}

.menu{
  width:100%;
  height: auto;
  background: #000426;
  z-index:100;
  position: absolute;
}

li{
  list-style: none;
  float: left; /*왼쪽부터 가로 정렬*/
  width: 10%; /*li 항목이 모두 4개 이므로 4등분을 위한 사이즈 정의*/
  height: 80px; /*float 해제를 위한 세로 사이즈 지정*/
  line-height: 80px; /*텍스트 중앙 정렬 (위/아래에 대한)*/
  text-align: center; /*텍스트 가운데 정렬*/
  background: #3AAFAA; /*백그라운드 색상 지정*/
  color: #ffffff;
  font-size: 20px;
}

a{
  text-decoration: none;
  color: #ffffff;
}

a:hover{
  color: #2A7A78;
}

.content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.login_box{
  width: 20%;
  margin-top: 10%;
}

.login_box > p{
  font-size: 2.1rem;
  font-weight: bolder;
  text-align: center;
  margin: 14% 0;
}

.login_input{
  width: 100%;
  height: 2.5rem;
  background-color: #E5E5E5;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 7% 3%;
  margin-bottom: 5%;
  box-sizing: border-box;
}

.lobin_btn{
  width: 100%;
  border-radius: 0.4rem;
  background-color:#2A7A78;
  color: #ffffff;
  outline: none;
  border: 1px solid #2A7A78;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 3.8% 0;
  transition-duration: 0.4s;
  box-sizing: border-box;
}

.lobin_btn:hover{
  width: 100%;
  background-color: #ffffff;
  color:#2A7A78;
  border: 1px solid #2A7A78;
  box-sizing: border-box;
}

.desc{
  font-size: 1.1rem;
  color: #787878;
  font-weight: bold;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.desc > span{
  margin: 0;
}

#signup{
  margin-right: 0;
  color: #787878;
}

#signup:hover{
  color: #2A7A78;
}

.footer{
  width: 100%;
  height: 16vh;
  background-color: #2A7A78;
  padding: 0 16%;
  box-sizing: border-box;
  display: flex;
  bottom: 0;
  padding-top: 2vh;
}

.footer_element{
  color: #ffffff;
  font-size: 1rem;
  line-height: 2em;
}

/* Dropdown menu */
.dropdown .dropbtn {
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #3AAFAA;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: 1%;
}

.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

.dropdown-content a:hover {
  color: #2A7A78;
}

.dropdown:hover .dropdown-content {
  display: block;
}