<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_point.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
  <script src="https://kit.fontawesome.com/4fa68ff388.js" crossorigin="anonymous"></script>
  <!-- <script type="text/javascript" src="../js/jquery.fullPage.js"></script> -->
  <!-- <script type="text/javascript" src="../js/fullpage_control.js"></script> -->
  <title>온새미로 - 포인트</title>
</head>
<body>
  <div class="container">
    <div class="menu">
      <!-- 상단 메뉴-->
      <ul>
        <!--로고-->
        <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/">홈</a></li>
        <li>
          <div class="dropdown">
            <a href="" class="dropbtn">분리수거 정보</a>
            <div class="dropdown-content">
              <a href="/swc_way">분리수거 방법</a>
              <a href="/swc_reason">분리수거 이유</a>
            </div>
          </div>
        </li>
        <li><a href="/point" style="color:#17242B;">새싹 포인트</a></li>
        <li></li>
        <li id="login_li"><a href="/login">로그인</a></li>
        <li id="signup_li"><a href="/signup">회원가입</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <a href="/point-can">
            <div class="serviceBox">
                <div class="service-icon">
                  <i class="fas fa-prescription-bottle"></i>
                </div>
                <h3 class="title">캔 및 고철</h3>
                <p class="description">
                    캔을 올바르게 분리수거해서 새싹 포인트를 쌓아보세요. 캔은 납작하게 눌러 부피를 최소화한 뒤에 분리수거해야합니다.
                </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6">
          <a href="/point-plastic">
            <div class="serviceBox">
                <div class="service-icon">
                  <i class="fa fa-wine-bottle"></i>
                </div>
                <h3 class="title">플라스틱 페트병</h3>
                <p class="description">
                  페트병을 올바르게 분리수거해서 새싹 포인트를 쌓아보세요. 페트병은 내부의 공기를 최대한 빼서 납작하게 만든 후 분리수거해야합니다.
                </p>
            </div>
          </a>
        </div>

        <div class="col-md-4 col-sm-6">
          <a href="/point-box">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-box"></i>
                </div>
                <h3 class="title">종이 박스</h3>
                <p class="description">
                  종이 박스을 올바르게 분리수거해서 새싹 포인트를 쌓아보세요. 종이 박스는 박스 모양을 해제시킨 후 눌러서 분리수거해야합니다.
                </p>
            </div>
          </a>
        </div>
    </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_element">
      <img src="logo.png" style="max-width: 130px; height: auto;"><br>
      ©2021 by Jiyoon Park and Sukmin Lee
    </div>
    <div class="footer_element">
      Tel) 010 5135 4735 | 010 6292 4267<br>
      Email) s2019s12@e-mirim.hs.kr | s2019s16@e-mirim.hr.kr<br>
      Address) Mirim Girl's Information and Science High School<br>
    </div>
    <div class="footer_element">
      <a href="https://github.com/saigjiej/Friendly-Tree" class="footer_link">Source Code</a><br>
      <a href="https://github.com/saigjiej/Friendly-Tree" class="footer_link">Github Link</a>
    </div>
  </div>
  <script type="text/javascript" src="login_confirm.js"></script>
</body>
</html>