<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_signup.css">
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
  <!-- <script type="text/javascript" src="../js/jquery.fullPage.js"></script> -->
  <!-- <script type="text/javascript" src="../js/fullpage_control.js"></script> -->
  <title>온새미로 - 회원가입</title>
</head>
<body>
  <div class="container">
    <div class="menu">
      <!-- 상단 메뉴-->
      <ul>
        <!--로고-->
        <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/">홈</a></li>
        <li>
          <div class="dropdown">
            <a href="" class="dropbtn">분리수거 정보</a>
            <div class="dropdown-content">
              <a href="/swc_way">분리수거 방법</a>
              <a href="/swc_reason">분리수거 이유</a>
            </div>
          </div>
        </li>
        <li><a href="/point">새싹 포인트</a></li>
        <li></li>
        <li id="login_li"><a href="/login">로그인</a></li>
        <li id="signup_li"><a href="/signup" style="color:#17242B;">회원가입</a></li>
      </ul>
    </div>
    <div class="content">
      <div class="login_box">
        <p>회원가입</p>
        <form action="/signup_process" method="POST">
          <input type="text" name="name" class="login_input" placeholder="이름" style="margin-bottom: 1%">
          <p class="desc">X에서 X자 이내의 영문, 한글, 숫자가 가능합니다</p><br>
          <input type="email" name="email" class="login_input" placeholder="이메일 주소"><br>
          <input type="password" name="password" class="login_input" placeholder="비밀번호" style="margin-bottom: 1%">
          <p class="desc">영문과 숫자 조합, 최소 8자리를 지켜주세요</p><br>
          <input type="password" name="password_confirm" class="login_input" placeholder="비밀번호 확인"><br>
          ID 저장<input type="checkbox" value="checked" name="rememberId"><br>
          <button type="submit" name="login_btn" class="lobin_btn">회원가입</button>
        </form>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer_element">
      <img src="logo.png" style="max-width: 130px; height: auto;"><br>
      ©2021 by Jiyoon Park and Sukmin Lee
    </div>
    <div class="footer_element">
      Tel) 010 5135 4735 | 010 6292 4267<br>
      Email) s2019s12@e-mirim.hs.kr | s2019s16@e-mirim.hr.kr<br>
      Address) Mirim Girl's Information and Science High School<br>
    </div>
    <div class="footer_element">
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Source Code</a><br>
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Github Link</a>
    </div>
  </div>
  <script type="text/javascript" src="login_confirm.js"></script>
</body>
</html>