<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_swc_reason.css">
  <link rel="stylesheet" ref="jquery.fullPage.css" type="text/css"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
  <!-- <script type="text/javascript" src="../js/jquery.fullPage.js"></script> -->
  <!-- <script type="text/javascript" src="../js/fullpage_control.js"></script> -->
  <title>온새미로 - 분리수거 방법</title>
</head>
<body>
  <div class="container">
    <div class="menu">
      <!-- 상단 메뉴-->
      <ul>
        <!--로고-->
        <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/">홈</a></li>
        <li>
          <div class="dropdown">
            <a href="" class="dropbtn">분리수거 정보</a>
            <div class="dropdown-content">
              <a href="/swc_way" style="color:#17242B;">분리수거 방법</a>
              <a href="/swc_reason">분리수거 이유</a>
            </div>
          </div>
        </li>
        <li><a href="/point">새싹 포인트</a></li>
        <li></li>
        <li id="login_li"><a href="/login">로그인</a></li>
        <li id="signup_li"><a href="/signup">회원가입</a></li>
      </ul>
    </div>
    <br><br><br><br>
    <p>분리수거를 해야하는 이유는 무엇일까요?</p>
    <div class="rectangle"></div>
    <br><br>
    <div class="ways">
      <div class="way">
        <div class="img1">
          <p>환경오염 방지와<br/>자원의 재활용</p>
        </div>
      </div>
      <div class="way">
        <div class="img2">
          <p>재사용, 재활용 자원 늘려<br/>폐기물 오염 방지</p>
        </div>
      </div>
      <div class="way">
        <div class="img3">
          <p>에너지 절약 가능</p>
        </div>
      </div>
      <div class="way">
        <div class="img4">
          <p>쓰래기 매립을<br/>줄일 수 있다</p>
        </div>
      </div>
      <div class="way">
        <div class="img5">
          <p>소중한 자원을 보존하고<br/>야생 동물을 보호할 수 있다</p>
        </div>
      </div>
      <div class="way">
        <div class="img6">
          <p>경제와 기후 문제에<br/>도움이 된다</p>
        </div>
      </div>
      <div class="way">
        <div class="img7">
          <p>소각물질 최소화로<br/>인해 환경오염 예방</p>
        </div>
      </div>
      <div class="way">
        <div class="img8">
          <p>매립시설 수명 연장 및 매립</p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
    <div class="footer_element">
      <img src="logo.png" style="max-width: 130px; height: auto;"><br>
      ©2021 by Jiyoon Park and Sukmin Lee
    </div>
    <div class="footer_element">
      Tel) 010 5135 4735 | 010 6292 4267<br>
      Email) s2019s12@e-mirim.hs.kr | s2019s16@e-mirim.hr.kr<br>
      Address) Mirim Girl's Information and Science High School<br>
    </div>
    <div class="footer_element">
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Source Code</a><br>
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Github Link</a>
    </div>
  </div>
</body>
</html>