<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_swc_paper.css">
  <link rel="stylesheet" ref=".jquery.fullPage.css" type="text/css"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
  <!-- <script type="text/javascript" src="../js/jquery.fullPage.js"></script> -->
  <!-- <script type="text/javascript" src="../js/fullpage_control.js"></script> -->
  <title>온새미로 - 분리수거 방법</title>
</head>
<body>
  <div class="container">
    <div class="menu">
      <!-- 상단 메뉴-->
      <ul>
        <!--로고-->
        <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/">홈</a></li>
        <li>
          <div class="dropdown">
            <a href="" class="dropbtn">분리수거 정보</a>
            <div class="dropdown-content">
              <a href="/swc_way" style="color:#17242B;">분리수거 방법</a>
              <a href="/swc_reason">분리수거 이유</a>
            </div>
          </div>
        </li>
        <li><a href="/point">새싹 포인트</a></li>
        <li></li>
        <li id="login_li"><a href="/login">로그인</a></li>
        <li id="signup_li"><a href="/signup">회원가입</a></li>
      </ul>
    </div>
    <br><br><br><br>
  </div>
  <p class="title"> 종이류 </p>
  <div class="ways">
    <div class="way">
      <div class="text1">
        재활용 가능한 종이는 책과 신문입니다
      </div>
    </div>
    <div class="way">
      <div class="text2">
        상자는 상자에 붙어있는 테이프와 <br/>택배 송장 스티커를 제거한 후 <br/>납작하게 접어 배출해주세요
      </div>
    </div>
    <div class="way">
      <div class="text3">
        스프링으로 제본되어있는 경우 <br/>스프링을 포함한 다른 재질을 <br/>모두 분리 후 각각 분리배출해주세요
      </div>
    </div>
    <div class="way">
      <div class="text4">
        물기에 젖지 않도록 해주세요
      </div>
    </div>
    <div class="way">
        <div class="text5">
            종이팩은 내용물을 비우고 <br/>물로 헹군 후 압착해주세요
        </div>
      </div>
  </div>
</div>
  <!-- footer -->
  <div class="footer">
    <div class="footer_element">
      <img src="logo.png" style="max-width: 130px; height: auto;"><br>
      ©2021 by Jiyoon Park and Sukmin Lee
    </div>
    <div class="footer_element">
      Tel) 010 5135 4735 | 010 6292 4267<br>
      Email) s2019s12@e-mirim.hs.kr | s2019s16@e-mirim.hr.kr<br>
      Address) Mirim Girl's Information and Science High School<br>
    </div>
    <div class="footer_element">
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Source Code</a><br>
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Github Link</a>
    </div>
  </div>
</body>
</html>