<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_swc_electronic.css">
  <link rel="stylesheet" ref="jquery.fullPage.css" type="text/css"/>
  <!-- <script type="text/javascript" src="../js/jquery.fullPage.js"></script> -->
  <!-- <script type="text/javascript" src="../js/fullpage_control.js"></script> -->
  <title>온새미로 - 분리수거 방법</title>
</head>
<body>
  <div class="container">
    <div class="menu">
      <!-- 상단 메뉴-->
      <ul>
        <!--로고-->
        <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/">홈</a></li>
        <li>
          <div class="dropdown">
            <a href="" class="dropbtn">분리수거 정보</a>
            <div class="dropdown-content">
              <a href="/swc_way" style="color:#17242B;">분리수거 방법</a>
              <a href="/swc_reason">분리수거 이유</a>
            </div>
          </div>
        </li>
        <li><a href="/point">새싹 포인트</a></li>
        <li></li>
        <li id="login_li"><a href="/login">로그인</a></li>
        <li id="signup_li"><a href="/signup">회원가입</a></li>
      </ul>
    </div>
    <br><br><br><br>
  </div>
  <p class="title"> 전자제품류 </p>
  <div class="ways">
    <div class="way">
      <div class="text1">
        판매업자가 신제품 판매 시 무상으로 <br/>역회수 또는 폐전자제품 무상 방문수거를 통한 회수
      </div>
    </div>
    <div class="way">
      <div class="text2">
        휴대폰은 전지를 분리하지 말고 <br/>본체, 충전기와 함께 신제품 교환시에 해당대리점을 통하여 배출
      </div>
    </div>
    <div class="way">
        <div class="text3">
            대형폐기물관리에 관한 <br/>수거체계에 따라 배출 <br/>또는 소형가전제품 분리배출요령에 <br/>따라 배출
        </div>
    </div>
    
  </div>
</div>
  <!-- footer -->
  <div class="footer">
    <div class="footer_element">
      <img src="logo.png" style="max-width: 130px; height: auto;"><br>
      ©2021 by Jiyoon Park and Sukmin Lee
    </div>
    <div class="footer_element">
      Tel) 010 5135 4735 | 010 6292 4267<br>
      Email) s2019s12@e-mirim.hs.kr | s2019s16@e-mirim.hr.kr<br>
      Address) Mirim Girl's Information and Science High School<br>
    </div>
    <div class="footer_element">
      <a href="https://github.com/saigjiej/Friendly-Tree" class="footer_link">Source Code</a><br>
      <a href="https://github.com/saigjiej/Friendly-Tree" class="footer_link">Github Link</a>
    </div>
  </div>
</body>
</html>