<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_swc_plastic.css">
  <link rel="stylesheet" ref="jquery.fullPage.css" type="text/css"/>
  <!-- <script type="text/javascript" src="../js/jquery.fullPage.js"></script> -->
  <!-- <script type="text/javascript" src="../js/fullpage_control.js"></script> -->
  <title>온새미로 - 분리수거 방법</title>
</head>
<body>
  <div class="container">
    <div class="menu">
      <!-- 상단 메뉴-->
      <ul>
        <!--로고-->
        <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/">홈</a></li>
        <li>
          <div class="dropdown">
            <a href="" class="dropbtn">분리수거 정보</a>
            <div class="dropdown-content">
              <a href="/swc_way" style="color:#17242B;">분리수거 방법</a>
              <a href="/swc_reason">분리수거 이유</a>
            </div>
          </div>
        </li>
        <li><a href="/point">새싹 포인트</a></li>
        <li></li>
        <li id="login_li"><a href="/login">로그인</a></li>
        <li id="signup_li"><a href="/signup">회원가입</a></li>
      </ul>
    </div>
    <br><br><br><br>
  </div>
  <p class="title"> 플라스틱류 </p>
  <div class="ways">
    <div class="way">
      <div class="text1">
        페트병과 플라스틱 용기에 든 <br/>내용물은 깨끗이 비워주세요
      </div>
    </div>
    <div class="way">
      <div class="text2">
        부착상표와 뚜껑 등 <br/>다른 재질로 된 부분은 제거해주세요
      </div>
    </div>
    <div class="way">
      <div class="text3">
        압축할 수 있는 품목들은 <br/>압축해서 버려주세요
      </div>
    </div>
    <div class="way">
      <div class="text4">
        분리가 어려운 제품은 <br/>종량제봉투에 담아 버려주세요
      </div>
    </div>
    <div class="way">
      <div class="text5">
        재활용 안되는 물품은?<br/><br/> - 카세트, 칫솔, 알약 포장재 등
      </div>
    </div>
    <div class="way">
      <div class="text6">
        분류할 수 없을 경우 <br/>종량제 봉투에 넣어 버려주세요
      </div>
    </div>
  </div>
</div>
  <!-- footer -->
  <div class="footer">
    <div class="footer_element">
      <img src="logo.png" style="max-width: 130px; height: auto;"><br>
      ©2021 by Jiyoon Park and Sukmin Lee
    </div>
    <div class="footer_element">
      Tel) 010 5135 4735 | 010 6292 4267<br>
      Email) s2019s12@e-mirim.hs.kr | s2019s16@e-mirim.hr.kr<br>
      Address) Mirim Girl's Information and Science High School<br>
    </div>
    <div class="footer_element">
      <a href="https://github.com/saigjiej/Friendly-Tree" class="footer_link">Source Code</a><br>
      <a href="https://github.com/saigjiej/Friendly-Tree" class="footer_link">Github Link</a>
    </div>
  </div>
</body>
</html>