<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style_swc_oil.css">
  <link rel="stylesheet" ref="jquery.fullPage.css" type="text/css"/>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.png">
  <!-- <script type="text/javascript" src="../js/jquery.fullPage.js"></script> -->
  <!-- <script type="text/javascript" src="../js/fullpage_control.js"></script> -->
  <title>온새미로 - 분리수거 방법</title>
</head>
<body>
  <div class="container">
    <div class="menu">
      <!-- 상단 메뉴-->
      <ul>
        <!--로고-->
        <li><a href="/"><img src="logo.png" style="max-width: 80%; height: auto; margin-top:10%; margin-left:20%"></a></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/">홈</a></li>
        <li>
          <div class="dropdown">
            <a href="/swc_way" class="dropbtn">분리수거 정보</a>
            <div class="dropdown-content">
              <a href="/swc_way" style="color:#17242B;">분리수거 방법</a>
              <a href="/swc_reason">분리수거 이유</a>
            </div>
          </div>
        </li>
        <li><a href="/point">새싹 포인트</a></li>
        <li></li>
        <li id="login_li"><a href="/login">로그인</a></li>
        <li id="signup_li"><a href="/signup">회원가입</a></li>
      </ul>
    </div>
    <br><br><br><br>
  </div>
  <p class="title"> 폐식용유류 </p>
  <div class="ways">
    <div class="way">
      <div class="text1">
        음식물 등 이물질이 섞이지 않게 <br/>모아 가까운 곳에 설치된 <br/>폐유수거함(동주민센터, 아파트 등)에 <br/>배출해주세요
      </div>
    </div>
    <div class="way">
      <div class="text2">
        다량의 폐식용유가 지속적으로 배출되는 <br/>공동주택이나 영업장 등의 경우에는 <br/>서울시 수거위탁 협약업체로 <br/>연락하여 처리해주세요
      </div>
    </div>
    
  </div>
</div>
  <!-- footer -->
  <div class="footer">
    <div class="footer_element">
      <img src="logo.png" style="max-width: 130px; height: auto;"><br>
      ©2021 by Jiyoon Park and Sukmin Lee
    </div>
    <div class="footer_element">
      Tel) 010 5135 4735 | 010 6292 4267<br>
      Email) s2019s12@e-mirim.hs.kr | s2019s16@e-mirim.hr.kr<br>
      Address) Mirim Girl's Information and Science High School<br>
    </div>
    <div class="footer_element">
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Source Code</a><br>
      <a href="https://github.com/Park-Ji-Yoon/Onsemiro" class="footer_link">Github Link</a>
    </div>
  </div>
</body>
</html>